@media screen and (min-width:576px) {
    *{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    body{
        background-image: url(../../images/bg/3.jpg);
    }
    .span-memo{color: blue;}
    /* 核取方塊 */
    #menu-control{
        position: absolute;
        z-index: -3;
        opacity: 0;
    }
    .header{
        width:100%;
        height: 100px;
        margin-bottom: 10px;
        position: relative;
        /* background-color: red; */
    }
    .header-nav{
        width: 100%;
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
        background-image: url(../../images/bg/3.jpg);
        z-index: 3;
    }
    .header-nav .logo{
        width: 85%;
        float: left;
    }
    .header-nav .logo > a{
        text-decoration: none; 
        color: black;
    }
    .header-nav .logo > a > img{
        width: 25%;
        margin: 10px 10px;
    }
    /* menu-botton========================================== */
    .header .menu-btn-area{
        max-width: 15%;
        top: 0;
        left: 0;
        float: left;
    }
    .header-nav .menu-btn{
        width: 65px;
        height: 65px;
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        /* background-color: skyblue; */
    }
    .header .menu-btn span{
        color: red;
        width: 1px;
        height: 1px;
        opacity: 0;
        overflow: hidden;
    }
    /* 漢堡按鈕的三條線 及 陰影的影分身術 */
    .header .menu-btn::before{
        content: '';
        position: absolute;
        height: 8px;
        width: 50px;
        background-color: #000;
        left: 7px;
        top: 0;
        bottom: 0;
        margin: auto;
        box-shadow: 0px 15px 0px #000,
                    0px -15px 0px #000;
    }
    /* Side-Menu側邊選單區=========================================== */
    .side-menu-area{
        position: fixed;
        z-index: 3;
        left: -100%;
    }
    .side-menu{
        position:relative;
        width: auto;
        height:auto;
        margin-top: 80px;
        /* background-image:linear-gradient(0deg,#9ed8f6,#2ba8e1); */
        background-color: #000;
        display:flex;
        flex-direction:column;
        box-shadow:5px 0px 10px hsla(240,40%,15%,.6);
        /*三之2.以下這段會讓表單收合+動畫延遲*/
        transform:translateX(0);
        transition:.3s;
    }
    .side-menu .close{
        color: #fff;
        background-color: red;
        position: absolute;
        top: 0;
        right: 0px;
        z-index: 3;
        font-size: 30px;
    }
    /* 側邊選單標籤設定===================================== */
    .side-menu-nav a{
        display: block;
        padding: 10px;
        color: white;
        text-decoration: none;
        border-bottom: 1px solid white;
        font-size: 16px;
    }
    /* Side-Menu Icon動畫效果=========================================*/
    .side-menu-nav a .fa{
        margin-right: -1.1em;
        transform: scale(0);
        transition: .3s;
    }
    .side-menu-nav li:hover .fa{
        margin-right: 0em;
        transform: scale(1);
    }
    /* 從這改變結構 讓子層跑出去到右側時 滑鼠摸到該區會變色 */
    .side-menu-nav li:hover > a{
        background-color: rgba(0, 185, 255, 0.5);
    }
    .side-menu-nav .sub-menu-nav{
        position: absolute;
        background-color: #000;
        left:100%;
        width:100%;
        margin-top:0px;
        box-shadow:5px 0px 10px hsla(240,40%,15%,.6);
        display:none;
    }
    /* 當li被摸到才顯示下層 > ul================================= */
    .side-menu-nav li:hover > .sub-menu-nav{
        display: block;
    }
    /* 點選 menu-btn 出現側邊選單 */
    #menu-control:checked ~ .header .side-menu-area{
        left: 0;
    }
    /* 清除浮動 */
    .header-nav .clear{
        clear: both;
    }
    /* 隱藏電腦版選單 */
    .header .menu-area{
        display: none;
    }

    /* 搜尋框:這水平置中的方式，不一樣============================ */
    .header form{
        position: fixed;
        width: 50%;
        height: 30px;
        background-color: #000;
        z-index: 999;
        display: flex;
        margin: 30px -20% 20px 29%;
        border-radius: 100px;
    }
    .header form input{
        width: 80%;
        /* margin-left: 60px; */
    }
    .header form button{
        width: 20%;
        border-radius: 0px 100px 100px 0px;
    }
    .header form input,
    .header form button{
        font-size: 20px;
        border: none;
        padding: 5px 10px;
        color: #fff; /*↓這將上層矩形拿掉↓*/
        background-color: transparent;
    }
    .header  input[type="search"]::placeholder{
        color: #fff;
    }
    /* ==================================================== */
    /* ==================================================== */
    /* Main 主要內容======================================== */
    .main{
        width: 100%;
        /* background-color: red; */
    }
    /* License-證照區 */
    .license{
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .main .item
    {
        width: 100%;
        border: 2px solid #aaa;
        box-shadow: 5px 5px 5px #aaa;
        margin: 10px;
        padding: 15px;
        position: relative; /*這相對定位影響label與close*/
        background-image: url(../../images/bg/1.jpg);
    }
    .main .item img{
        width: 100%;
        margin: auto;
        display: flex;
    }
    .main .item .label{
        background: linear-gradient(120deg, rgb(0, 140, 196),#eee);
        color: #fff;
        padding: 6px 10px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .main .item .close{
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.2em;
    }
    .main h2{
        margin: 10px 0;
    }
    .main .item p{
        line-height: 1.5em;
    }
    /* about關於站長 */
    .about-area{
        display: none;
    }
    /* ==================================================== */
    /* ==================================================== */
    /* Footer頁尾區 手機版========================================= */
    .footer{
        width: 100%;
        padding-bottom: 10px;
    }
    .footer hr{
        margin: 10px 0;
        border: 1px solid #aaa;
    }
    .footer-nav ul{
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;
    } 
    .footer-nav ul li > a{
        padding: 0 10px;
        text-decoration: none;
        color: #000;
        font-size: 19px;
    }
    .footer .copyright{
        text-align: center;
        font-size: 20px;
    }
    .footer .info-area{
        display: none;
    }
    /* ==================================================== */
    /* ==================================================== */
    /* Footer頁尾區  電腦版================================= */
    .footer > .container{
        display: none;
    }
}